<jsp:root xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:fn="http://java.sun.com/jsp/jstl/functions"
          xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
          xmlns:fb="http://www.facebook.com/2008/fbml"
          xmlns="http://www.w3.org/1999/xhtml"
          xmlns:form="http://www.springframework.org/tags/form"
          xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:spring="http://www.springframework.org/tags" version="2.0">

    <div class="ui one column relaxed grid">
        <div class="column">
    <form method="post" class="ui fluid form segment error" style="width:500px; margin:auto;">
        <c:if test="${not empty errorMessage}">
            <div class="ui error message">${errorMessage}</div>
        </c:if>
        <div class="two fields">
            <div class="field">
                <label for="username">Username</label>
                <input placeholder="Username" type="text" name="username" id="username" required="true"></input>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input placeholder="Password" type="password" name="password" id="password" required="true"></input>
            </div>
        </div>
        <button class="ui blue submit button" type="submit">Login</button>
    </form>
        </div>
    </div>

</jsp:root>