<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_panacea_entity_RecordDetail" items="${recorddetails}" z="mNPLOR47PmFJ6QggW2KYzNTqoPs=">
        <table:table data="${recorddetails}" id="l_com_panacea_entity_RecordDetail" path="/recorddetails" z="EniHr9gmRpJZQay/BMJyAT3dBww=">
            <table:column id="c_com_panacea_entity_RecordDetail_record" property="record" z="5X4YXia8cWhwC5afGeka11uwQXg="/>
            <table:column id="c_com_panacea_entity_RecordDetail_diagnostic" property="diagnostic" z="a66fqVvhgOutcMMPXbnopLhVz2c="/>
            <table:column id="c_com_panacea_entity_RecordDetail_medication" property="medication" z="i7fNpJFmWN2Gn39SEqtjgYqAcG4="/>
            <table:column id="c_com_panacea_entity_RecordDetail_mc" property="mc" z="DkGwKrIDs5jCufcSWHQOacwj3Fw="/>
            <table:column id="c_com_panacea_entity_RecordDetail_remarks" property="remarks" z="jZdNSBiN3skNUxEZlrkV9S4LICI="/>
            <table:column date="true" dateTimePattern="${recordDetail_createddate_date_format}" id="c_com_panacea_entity_RecordDetail_createdDate" property="createdDate" z="eyXGFzxDe51eU9gwgAPzIdebHnE="/>
        </table:table>
    </page:list>
</div>
