<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_panacea_entity_Record" items="${records}" z="+ekNky1/ymHHn8w6zKgdhq/tYr4=">
        <table:table data="${records}" id="l_com_panacea_entity_Record" path="/records" typeIdFieldName="id_" z="k1ZxAaVrB7VDkpP4mmHuH/Gsft8=">
            <table:column id="c_com_panacea_entity_Record_id" property="id" z="SVthLi/owN1kmwJQ/ntRgLMXWMs="/>
            <table:column id="c_com_panacea_entity_Record_patient" property="patient" z="TvsNj3UUDMxmAKKJCgVeOVuIjo4="/>
            <table:column id="c_com_panacea_entity_Record_doctor" property="doctor" z="EM2tjv9kcZdFmWHRQ9Jawv0MuK4="/>
        </table:table>
    </page:list>
</div>
